body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px;
    padding: 0;
    background: url();
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#input {
    width: 60%;
}

.right h3 {
    display: flex;
    justify-content: center;
}

#posts {
    width: 100%;
}

i {
    cursor: pointer;
}

#posts div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#posts div p {
    padding: 10px;
}

.options {
    display: flex;
    gap: 30px;
}

#msg {
    color: red;
}